@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-baloo-thambi: 'Baloo Thambi 2', cursive;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: black;   
     
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .animate-on-scroll.animate-in {
    opacity: 1;
    transform: translateY(0);
  }

  .slide-in-from-left {
    transform: translateX(-50px);
  }

  .slide-in-from-top {
    transform: translateY(-50px);
  }

  .fade-in {
    opacity: 0;
  }

  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

  .animate-pulse-slow {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

